services:
  n8n:
    build: .
    # image: n8nio/n8n:latest   # remove this line
    container_name: n8n

    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_SECURE_COOKIE=false
      # - WEBHOOK_URL=https://idella-gonadial-davon.ngrok-free.dev/
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - observability
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - observability
    depends_on:
      - n8n

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=change_me
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - observability
    depends_on:
      - prometheus

volumes:
  n8n_data:
  prometheus_data:
  grafana_data:

networks:
  observability:
    external: true
